{% extends 'base.html.twig' %}

{% block title %}Tutti Frutti{% endblock %}

{% block body %}
    <main>
            <section class="top-section">
                <img src="{{ asset('img/tuttitle.png') }}" class="title">
                <h2>Les musiques vous donnent la banane !</h2>
            </section>

            <section class="mid-section">
                <a class="saladfruit"><img src="{{ asset('img/saladfruit.png') }}"></a>
                <section class="selectFruit">

                    <input class="input" name="text" placeholder="Rechercher un fruit..." type="search">
                    <section class="autocompletion">
                    </section>
                </section>
            </section>
    </main>
{% endblock %}
