{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/sites/dev avancé/TuttiFrutti/src/Controller/HomePageController.php</code></li>
        <li>Your template at <code>D:/sites/dev avancé/TuttiFrutti/templates/home_page/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
