{% extends 'base.html.twig' %}

{% block title %}Tutti Frutti{% endblock %}

{% block body %}
    <main>
        <section class="top-section">
            <section class="profil-button">
                <img src="{{ asset('img/icone-profil.png') }}" class="profil-logo">
                <section class="dropdown-content">
                    <a href="#" class="top">My Discography</a>
                    <a href="#" class="bottom">Log Out</a>
                </section>
            </section>
            <img src="{{ asset('img/tuttitle.png') }}" class="title">
            <h2>Choose a random fruit or select one !</h2>
        </section>

        <section class="mid-section">
            <a class="saladfruit"><img src="{{ asset('img/saladfruit.png') }}"></a>
            <input class="input" name="text" placeholder="Search a fruit..." type="search">
        </section>
    </main>
{% endblock %}
