{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="conteneur">
    <div class="userLogin">
        <form method="post" class="formulaireLogin">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="titreUserLogin">De retour ?</h1>
            <input type="text" placeholder="Nom" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            <input type="password" placeholder="Mot de Passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
        </form>
    </div>
</div>
{% endblock %}
