
@font-face {
    font-family: "GentyDemo";
    src: url('../font/GentyDemo-Regular.otf');
}

li {
    list-style: none;
}

h2 {
    text-align: center;
    font-family: "GentyDemo";
    font-size: 2.5rem;
    color: #573401;
}

p {
    font-family: "GentyDemo";
    font-size: 1.5rem;
    color: #482b0b;
}

h1 {
    font-family: "Lemon", serif;
    font-size: 5rem;
    font-style: normal;
    text-align: center;
}

.background {
    background-color: #e6e3c8;
}

.title {
    font-family: "GentyDemo";
    color: #f89f3d;
    display: block;
    margin: 0 auto;
    width: 50rem;
    height: auto;
}

.logo {
    width: 4rem;
    height: auto;
}

.nav-page {
    display: flex;
    justify-content: space-between;
}

.bottom-image {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

.nav-section{
    display: flex;
    justify-content: space-between;
}

.mid-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards-music {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
}
.card {
    display: flex;
    flex-direction: column;
    width: 17%;
    border-radius: 10px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    padding: 1.2rem;
    margin-bottom: 2rem;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
}

.cover-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    background-color: rgb(165, 165, 165);
    display: flex;
    align-items: center;
    justify-content: center;
}



.card-title {
    margin: 0;
    font-size: 0.75rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #1797b8;
    cursor: default;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.input {
    width: 26rem;
    padding: 1rem;
    border-radius: 2rem;
    outline: none;
    border: 0.125rem solid #ff8800;
    box-shadow: 0px 0.125rem 0.625rem rgba(255, 136, 0, 0.2);
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: #ff5500;
}

.input::placeholder {
    color: #ff8800;
}

.profil-button {
    position: relative;
    display: inline-block;
}

.button {
    background-color: #ff8800;
    color: #212121;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 2px solid #ff8800;
    border-radius: 0px 15px 15px 15px;
    margin-left: 1.5rem;
}

.profil-button:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #ff8800;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ff8800;
    color: #212121;
}

.dropdown-content a:focus {
    background-color: #212121;
    color: #ff8800;
}

.top:hover {
    border-radius: 0px 13px 0px 0px;
}

.top:focus {
    border-radius: 0px 13px 0px 0px;
}


.bottom:hover {
    border-radius: 0px 0px 13px 13px;
}

.bottom:focus {
    border-radius: 0px 0px 13px 13px;
}


.saladfruit:hover {
    animation: rotate 0.3s linear infinite both;
}

@keyframes rotate {
    0% {
        -webkit-transform: translate(0);
        transform: rotate(0deg);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: rotate(1deg);
    }

    40% {
        -webkit-transform: translate(-2px, 2px);
        transform: rotate(0deg);
    }

    60% {
        -webkit-transform: translate(-2px, 2px);
        transform: rotate(-1deg);
    }

    80% {
        -webkit-transform: translate(-2px, 2px);
        transform: rotate(0deg);
    }
}


