.autocompletion{
    max-height: 6em;
    overflow-x: auto;
    width: 23rem;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.clickable.impair p{
    background-color: #ffe8ce;
}

.clickable p {
    margin: 0;
    padding: 1rem 0;
    background-color: #ffffff;
}