.autocompletion{
    max-height: 6.4em;
    overflow-x: auto;
    width: 23rem;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    position: absolute;
}

.input,.clickable{
    color: #ff8800;
    font-size: 1rem;
}

.clickable{
    text-decoration: none;
}

.clickable.impair p{
    background-color: #ffe8ce;
}

.clickable p {
    margin: 0;
    padding: 1rem 5px;
    background-color: #ffffff;
}

.clickable:hover p{
    background-color: #ff8800;
    color: #ffffff;
}

.selectFruit{
    position: relative;
}