.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.example-wrapper code { 
    background: #F5F5F5;
    padding: 2px 6px; 
}

.releasesCarte {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background: #fff;
    border-radius: 24px;
}

.releasesImage {
    max-width: 280px;
    width: 32vw;
    height: 270px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 40px;
    border-radius: inherit;
}

.releasesTitre {
    font-family: "GentyDemo";
    color: #f89f3d;
    font-size: 30px;
    margin: 0 0 20px;
}

.realeasesAjouterFavoris {
    border: 1px solid #a7a7a7;
    background: transparent;
    color: #a7a7a7;
    font-family: inherit;
    padding: 16px 20px;
    font-size: 18px;
    border-radius: 6px;
    min-width: 160px;
}

.realeasesAjouterFavoris:hover {
    background-color: #f89f3d;
    color: #fff;
}

.tracklistConteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background: #fff;
    border-radius: 24px;
}

.track {
    margin-bottom: 10px;
    
}

.trackTitre {
    font-family: "GentyDemo";
    color: #f89f3d;
    font-size: 30px;
}

.styleEtGenreTexte {
    font-size: 14px;
}

.trackArtistes {
    margin: 5px 0;
}

.trackArtistes:first-child {
    margin-top: 0;
}

.trackArtistes:last-child {
    margin-bottom: 0;
}

.trackAvec {
    margin: 0;
}

.titreDivTrack {
    font-family: "GentyDemo";
    color: #f89f3d;
    font-size: 50px;
}