{% extends 'base.html.twig' %}

{% block title %}Hello DiscographyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2> {{ utilisateur }} </h2>
    <h3> {{ utilisateurDisco }} </h3>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/reds_/Desktop/S6/Développement avancé - Projet/DossierMieux/ProjetPHPSymfony/src/Controller/DiscographyController.php</code></li>
        <li>Your template at <code>C:/Users/reds_/Desktop/S6/Développement avancé - Projet/DossierMieux/ProjetPHPSymfony/templates/discography/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
