{% extends 'base.html.twig' %}

{% block title %}Hello DiscographyController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <h2>Discographie de : {{ utilisateur }}</h2>
    <section class="cards-music">
        <h2> {{ reponse|length }} </h2>
        {{ dump(reponse) }}
        {{ dump(testImage) }}

{% endblock %}
